<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="div col-lg-4">
            <form [formGroup] ="loginForm" (ngSubmit) ="login()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">User name</label>
                  <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="alert alert-danger">
                    This field is required!
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName= "password">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>