.inline {
    display: inline-flex;
}
ul.user-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.user-nav li {
    display: inline-flex;    
}
.app-label {

}
.user-nav-group{
    float: right;
}
.topbarContainer {
    border-bottom: 1px solid black;
    background-color: var(--bluegray-900);    
    height: calc(fit-content) + 2rem;
}
.userMenu {
    display: none;
}
.userDropdown:hover .userMenu {
    display: block;
}