/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
form {
    border: 1px solid grey;
    padding: 10% 15%;
    margin-top: 20%;
}